<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>address not configured yet &lt;nobody@nowhere&gt;</adminAddress>
  <jenkinsUrl>{{ jenkins_url_external }}/</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>